.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  background: #1d2b36;
  min-height: 4.5rem;
  color: $color-primary-light;
}