<template>
    <form :class="styles['login-form']" action="#" @submit.prevent>
        <div :class="styles['header']">
            <div :class="styles['header__text']">Login</div>
        </div>
        <div :class="styles['input-wrapper']">
            <v-text-field
                v-model="login"
                label="Login"
                outlined
                :rules="[valid.required, valid.login]"
                required
            ></v-text-field>
        </div>
        <div :class="styles['input-wrapper']">
            <v-text-field
                v-model="password"
                label="Password"
                outlined
                :rules="[valid.required, valid.password]"
                :error-messages="password.password"
                required
                :append-icon="passwordIsShow ? 'mdi-eye' : 'mdi-eye-off'"
                :type="passwordIsShow ? 'text' : 'password'"
                hint="At least 8 characters"
                @click:append="passwordIsShow = !passwordIsShow"
            ></v-text-field>
        </div>
        <div :class="styles['input-action']">
            <v-btn color="primary" @click="getLogin">Login</v-btn>
        </div>
        <v-dialog v-model="dialog" hide-overlay persistent width="300">
            <v-card color="primary" dark>
                <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                ></v-progress-linear>
            </v-card>
        </v-dialog>
    </form>
</template>

<script>
import styles from './login-form.module.scss'
import axios from 'axios'
import { setStorage } from '@/helpers/Local'

export default {
    name: 'LoginForm',

    data() {
        return {
            user: '',
            dialog: false,
            styles,
            login: '',
            password: '',
            passwordIsShow: false,
            valid: {
                login: (v) => v.length >= 1 || 'Login',
                password: (v) => v.length >= 4 || 'Min 4 characters',
                required: (value) => !!value || 'Required.',
            },
        }
    },
    methods: {
        getLogin: function () {
            this.dialog = true
            axios
                .post('/api/login', {
                    login: this.login,
                    password: this.password,
                })
                .then((res) => {
                    setStorage('accessToken', res.data['access_token'])
                    this.dialog = false
                })
                .catch(function (error) {
                    console.log(error)
                })
        },
    },
}
</script>
