.login-form {
  width: 100%;
  min-height: 350px;
  background: $color-primary-light;
  padding: 35px 20px;
  box-shadow: 0 10px 18px 0 rgb(62 57 107 / 20%);
  border-radius: 5px;
}

.header {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 45px;

  &__text {
    background: $color-primary-light;
    padding: 0 8px;
    width: fit-content;
    display: block;
    margin: 0 auto;
    transform: translateY(50%);
  }
}