<template>
    <v-app>
        <v-main>
            <div id="app">
                <Login />
            </div>
        </v-main>
    </v-app>
</template>

<script>
import Login from '@/views/Login'

export default {
    name: 'App',
    components: {
        Login,
    },
}
</script>

<style lang="scss">
#app {
    width: 100%;
}
</style>
